<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/card.css">
    <link rel="stylesheet" href="../styles/desktop.css">
</head>
<body>

    <header>
        <h1>Travel App</h1>
        <button id="myBtn">Add Trip</button>
    </header>

    <div id="myModal" class="modal">
        <div class="modal-header">
            <h2>Add Trip</h2>
            <span class="close">&times;</span>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location" placeholder="Enter Location...">
                </div>
                <div class="date">
                    <div class="form-group">
                        <label for="departure">Departure date:</label>
                        <input type="date" name="departure" id="departure">
                    </div>    
                    <div class="form-group">
                        <label for="return">Return date:</label>
                        <input type="date" name="return" id="return">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit">Add</button>
            </div>
        </form>
    </div>

    <main>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80" alt="">
            <div class="info">
                <button class="rmTrip-btn">Remove Trip</button>
                <div class="general-info">
                    <h2>My Trip to: Some Location</h2>
                    <h3>Departure Date: 23/12/2021</h3>
                    <p>Location is 60 days away.</p>
                </div>
                <div class="weather-info">
                    <h3>Weather Details</h3>
                    <div class="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facere adipisci facilis provident maiores quibusdam commodi laborum magni quia. At facilis consectetur ullam doloribus tempore nobis assumenda? Officiis, sequi dolorum.
                    </div>
                </div>
            </div>
            <form>
                <input type="text" name="to-do">
                <button class="to-do-btn">Add To Do</button>
            </form>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80" alt="">
            <div class="info">
                <button id="delete">Remove Trip</button>
                <div class="general-info">
                    <h2>My Trip to: Some Location</h2>
                    <h3>Departure Date: 23/12/2021</h3>
                    <p>Location is 60 days away.</p>
                </div>
                <div class="weather-info">
                    <h3>Weather Details</h3>
                    <div class="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facere adipisci facilis provident maiores quibusdam commodi laborum magni quia. At facilis consectetur ullam doloribus tempore nobis assumenda? Officiis, sequi dolorum.
                    </div>
                </div>
            </div>
            <form>
                <input type="text" name="to-do">
                <button class="to-do-btn">Add To Do</button>
            </form>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80" alt="">
            <div class="info">
                <button id="delete">Remove Trip</button>
                <div class="general-info">
                    <h2>My Trip to: Some Location</h2>
                    <h3>Departure Date: 23/12/2021</h3>
                    <p>Location is 60 days away.</p>
                </div>
                <div class="weather-info">
                    <h3>Weather Details</h3>
                    <div class="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facere adipisci facilis provident maiores quibusdam commodi laborum magni quia. At facilis consectetur ullam doloribus tempore nobis assumenda? Officiis, sequi dolorum.
                    </div>
                </div>
            </div>
            <form>
                <input type="text" name="to-do">
                <button class="to-do-btn">Add To Do</button>
            </form>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80" alt="">
            <div class="info">
                <button id="delete">Remove Trip</button>
                <div class="general-info">
                    <h2>My Trip to: Some Location</h2>
                    <h3>Departure Date: 23/12/2021</h3>
                    <p>Location is 60 days away.</p>
                </div>
                <div class="weather-info">
                    <h3>Weather Details</h3>
                    <div class="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facere adipisci facilis provident maiores quibusdam commodi laborum magni quia. At facilis consectetur ullam doloribus tempore nobis assumenda? Officiis, sequi dolorum.
                    </div>
                </div>
            </div>
            <form>
                <input type="text" name="to-do">
                <button class="to-do-btn">Add To Do</button>
            </form>
        </div>
    </main>

    <footer>
        Travel App by Lucinda Ly
    </footer>

<script src="../js/modal.js"></script>
<script src="../js/to-do-list.js"></script>
</body>
</html>