<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/card.css">
    <link rel="stylesheet" href="../styles/desktop.css">
</head>
<body>
    <header>
        <h1>Travel App</h1>
        <button id="myBtn">Add Trip</button>
    </header>

    <div id="myModal" class="modal">
        <div class="modal-header">
            <h2>Add Trip</h2>
            <span class="close">&times;</span>
        </div>
        <form onsubmit="tripForm(event)">
            <div class="modal-body">
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location" placeholder="Enter Location..." required>
                </div>
                <div class="date">
                    <div class="form-group">
                        <label for="departure">Departure date:</label>
                        <input type="date" name="departure" id="departure" required>
                    </div>    
                    <div class="form-group">
                        <label for="return">Return date:</label>
                        <input type="date" name="return" id="return" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
    <main>
        <p class="msg active"><em>You currently have no trips planned.</em> &#128577;</p>        
    </main>

    <footer>
        Travel App by Lucinda Ly
    </footer>

<script src="../js/modal.js"></script>
<script src="../js/tripForm.js"></script>
<script src="../js/dateValidation.js"></script>
</body>
</html>