@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@400;600&display=swap');

$primary-color: #182d58;
$secondary-color: #80b9ca;
$text-color: #fff;
$input-color: #f0f0f0;
$error: #ca8080;
$shadow: #4b4e77;
    

