.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #182d58;
    padding: 1em;
    margin: 3em 0;
    width: 80vw;
}

.card img::before {
    content: '';
    background-color: #e7e7e7;
}

.card img { 
    width: 100%;
}

.card h2, .card h3 {
    color: #182d58;
}

.card .info p {
    font-style: italic;
}

.rm-trip-btn {
    padding: 0.5em;
}

.card .info button {
    float: right;
    background-color: #ca8080;
}
.card form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.card .to-do-btn {
    background-color: #182d58;
    border-radius: 0 0 3px 3px;
}

.card input[type=text], .card .to-do-btn {
    padding: 0.5em;
}

.card ul {
    min-width: 20em;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.card ul li small{
    margin-left: 1em;
    color: #ca8080;
    cursor: pointer;
}

.msg {
    display: none;
    text-align: center;
    color: white;
}

.invalid {
    display: none;
    color: #ca8080;
}

.msg.active, .invalid.active {
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card .content img {
    width: 3em;
}