@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@400;600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-rows: 20vh 1fr 20vh;
    margin: 0;
    background: linear-gradient(#182d58, #80b9ca, #fff);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

main {
    margin: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #182d58;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
}

h1 {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
    letter-spacing: 5px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

#myBtn {
    background-color: #80b9ca;
    padding: 1em 2em;
    font-weight: bold;
}


