@import "./variables";

body {
    background: linear-gradient($primary-color, $secondary-color, $text-color);
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-rows: 20vh 1fr 20vh;
    margin: 0;
    min-height: 100vh;
}

header {
    padding: 2rem;

    h1 {
        text-align: center;
        font-family: 'Rubik Mono One', sans-serif;
        color: $text-color;
        letter-spacing: 5px;
        border-top: 4px solid $text-color;
        border-bottom: 4px solid $text-color;
    }
    
    #myBtn {
        background-color: $secondary-color;
        padding: 1em 2em;
        font-weight: bold;
        color: $primary-color;
    }
}

header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main, header{
    margin-top: 2rem;
}

footer {
    color: $primary-color;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    color: $text-color;

    &:hover {
        opacity: 0.9;
    }
}

input:focus {
    outline: 2px solid $primary-color;
}
